In [ ]:
F = 212
C = (F - 32) * 5 / 9
print('華氏溫度',(format(F,'10.2f')),'等於攝氏溫度',(format(C,'10.2f')))

華氏溫度     212.00 等於攝氏溫度     100.00

In [ ]:
import math
r = 5.5
s = 2 * r * math.sin(math.pi / 5)
area =(5*s**2) / (4*math.tan(math.pi/5))
area2 = round(area,2)

print('Area is',area2)

Area is 71.92

In [ ]:
a =4.3
v = 70

length = v**2 / (2 * a)
result =round(length,2)

print(result)

569.77

In [ ]:
M = 10
finalT = 100
initialT = 12

Q = M * (finalT - initialT) * 4184


print(format(Q,'10.2f'))

3681920.00

In [ ]:
import math
r = 6.5
height = 10
area =math.pi*r**2
volume = area * height

area2 = round(area, 2)
volume2 = round(volume, 2)
print('area:',area2,'volume:',volume2)

area: 132.73 volume: 1327.32