In [ ]:
import random
times = 0
times3 = 0
times5 = 0
times7 = 0
others = 0
for i in range(1, 101):
    flag = False
    randNum = random.randint(1,100)
    print(randNum, end = ' ')
    if randNum % 3 == 0:
        times3 += 1
        flag =True
    if randNum % 5 == 0:
        times5 += 1
        flag =True
    if randNum % 7 == 0:
        times7 += 1
        flag =True
    if flag == False:
        others += 1
print('\ntimes3 = %d, times5 = %d , times7 = %d'%(times3,times5,times7))
print('others = %d'%(others))

22 6 98 78 43 54 10 30 7 38 13 66 35 96 39 6 5 8 75 21 73 89 73 62 31 20 84 77 81 98 47 40 62 83 49 29 9 14 5 50 58 23 37 34 87 99 53 5 1 82 98 76 53 59 68 76 82 42 98 46 98 97 18 6 7 34 90 29 53 36 65 37 17 48 99 4 64 46 23 7 9 69 73 94 65 40 16 51 64 13 59 48 3 92 28 41 7 37 3 32
times3 = 28, times5 = 14 , times7 = 17
others = 48

In [ ]:
import random

count = 1
for i in range(1,101):
    randNum = random.randint(1,100)
    if count % 10 != 0:
        print('%5d'%(randNum), end = ' ')
    else:
        print('%5d'%(randNum))
    count += 1

#print('\ntimes3 = %d, times5 = %d , times7 = %d'%(times3,times5,times7))
#print('others = %d'%(others))

   14    77    16    89    77    44    45    82    63     3
   69    60    94    77     2    98    31    73    58    23
   95     6    33    20    17    27    89    78    60    44
   36    82    33     6    36    17    19    73    91    42
   74    37    92    39     2    73    88    13    48    67
   30    94    79    96    49    82    16    11    63    30
   61    87    96    63    98    54    49    19    44    22
   71    13    38    91    13    78    56    32     5    13
   93    27    45    68    92    21    91    31    90    85
   37    36    60    16    86    84    43    67    24     5

In [ ]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i, "*", j, "=", i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81